--extra-index-url https://download.pytorch.org/whl/cpu
torch
fastapi>=0.104.1
uvicorn[standard]>=0.24.0
motor>=3.3.1
passlib==1.7.4
bcrypt==4.0.1
python-jose[cryptography]>=3.3.0
sentence-transformers
scikit-learn
python-dotenv>=1.0.0
pydantic>=2.4.2
pydantic-settings>=2.0.3
email-validator
python-multipart
pytest>=7.4.3
httpx>=0.25.1
